.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    width: 40vw;
}

.grid-container2 {
    display: inline-grid;
    grid-template-columns: min-content auto;
    grid-auto-columns: fit-content();
    text-align: left;
    width: 40vw;
}

.grid-item{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3vw;
}

#description{
    width: 20vw;
}

#price, #amount, #add{
    width:5vw;
}

p {
    text-align: left;
}
