.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  border: 1px, solid black;
  width: 40vw;
}

.grid-container2 {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-auto-columns: fit-content();
  border: 1px, solid black;
  text-align: left;
  width: 40vw;
}

.grid-item{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
 font-size: 3vw;
}

#description{
    width: 20vw;
}

#price, #amount, #add{
    width:5vw;
}

p {
    text-align: left;
}
